.catalog-preview-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  gap: 6px;
  background: #1FB59C;
  border-radius: 96px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #FFFFFF;
}
.catalog-preview-btn__icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.catalog-preview-btn svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}
.catalog-preview-btn svg:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}
.catalog-preview-btn.--active svg:nth-child(1) {
  opacity: 0;
  transform: scale(0);
}
.catalog-preview-btn.--active svg:nth-child(2) {
  opacity: 1;
  transform: scale(1);
}
@media (max-width: 1024px) {
  .catalog-preview-btn {
    padding: 0;
    background: none;
    border-radius: 0;
    color: #1E2025;
  }
  .catalog-preview-btn span {
    display: none;
  }
  .catalog-preview-btn__icon {
    height: 24px;
    width: 24px;
  }
}
