@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	font-stretch: normal;
	src: url(../fonts/DM_Sans-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	font-stretch: normal;
	src: url(../fonts/DM_Sans-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

